*{
    background-color: aqua;
}

#left{
    text-align: left;
}

#mid{
    text-align: center;
}

#right{
    text-align: right;
}

#green{
    color: green;
}

#bold{
    font-weight: bold;
}

#style{
    font-size: xx-large;

}

#white{
    color: white;
}

#pink{
    color: pink;
}

#blue{
    color: blue;
}


img{
   
  margin-left: auto;
  margin-right: auto;
  
}

#pa{
    cursor: pointer;
    text-decoration: underline;
    
}
